@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in {
  opacity: 0;
  animation: fade-in-animation 3s ease-in forwards;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-visibility{
  opacity: 1;
  animation: fade-in-visibility 1s ease-in forwards;
}

@keyframes fade-in-visibility {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-in-visibility-reverse{
  opacity: 0;
  animation: fade-in-visibility-reverse 1s ease-in forwards;
}

@keyframes fade-in-visibility-reverse {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.animation-bounce{
  animation: animation-bounce 10s infinite ease-in-out ;
}

  @keyframes animation-bounce {
  0%, 100% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(10%)
  }
}